.header{
    background-color: blue;
    margin: 5px;
    padding: 20px;
    text-align: center;
}

.song-container{
    background-color: green;
    margin: 20px;
    padding: 20px;
}

.songForm {
    background-color: purple;
    padding: 10px;
}

.songList{
    background-color: orange;
    list-style-type: none;
    padding:10px;
}

.song-header{
    background-color: royalblue;
}

/* .song-row__item{
    
} */

.singleItem{
    background-color: white;
    border:double;
    margin: 5px;
    padding: 5px;
}

.footer{
    background-color: pink;
    margin: 5px;
    padding: 20px;
    text-align: center;
}
