.App{
    background-color: #E9C891;
    height: 1000px;
}

.header{
    background-color: #AE431E;
    padding: 20px;
    text-align: center;
    color: #E9C891;
}

.navigation{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #AE431E;
}

.nav-link {
    padding:10px;
    margin: 10px;
    color: #E9C891;
    text-decoration: none;
}

.nav-link:hover{
    color:#8A8635
}

.song-container{
    margin: 5px;
    padding: 20px;
    background-color: #E9C891;
}

.songForm {
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.input{
    padding: 5px;
    min-width: 20%;
    background-color: #8A8635;
    color:#E9C891;
}

.button-new-input{
    padding: 20px;
    margin: 2px;
    border:solid;
    border-color: #8A8635;
    background-color: #E9C891;
    border-radius: 80%;
}

.button-new-input:hover{
    background-color: #8A8635;
}

.songList{
    list-style-type: none;
    padding:10px;
    width: 100%;
}

.table{
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #D06224;
}

th, td{
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

th{
    height: 70px;
    font-size: 20px;
    background-color: #AE431E;
}

td{
    padding: 10px;
    font-size: 16px;
}

tr:hover{
    background-color: #8A8635;
}

.table-body{
    color: #E9C891;
}

.button{
    padding: 5px;
    margin: 2px;
    border:solid;
    border-color: #8A8635;
    background-color: #E9C891;
}

.button:hover{
    background-color: #8A8635;
}

.delete-button{
    padding: 5px;
    margin: 2px;
    border:solid;
    border-color: #8A8635;
    background-color: #E9C891;
}

.delete-button:hover{
    background-color: #AE431E;
}

.footer{
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #E9C891;
    color: #AE431E;
    border-top: 1px black solid;
    min-height: 100px;
}

.main{
    padding: 20px;
    margin: 20px;
}

.icons{
    color:#8A8635;
    font-size: 30px;
    margin: 5px;
    text-decoration: none;
}

.icons:hover{
    color: #AE431E;
}
